Browser = UR_BROWSER
OS = UR_OS
BaseUrl = UR_BaseUrl
SuperUserEmail = UR_SuperUserEmail
EmailUserName = UR_GMAIL_ID
EmailUserPwd = UR_GMAIL_PWD
wantToSendReportViaAutoEmail = UR_BOOLEAN_VALUE
ProvisioningUsersUrl = provisioningURL
MongoDB = DBName
DBUserName = UserName
DBPassword = Password
MySQLServerName = My_SQL_Server_URL
MySQLDBUserName = My_SQL_UserName
MySQLPassword = My_SQL_Password
programmanagement.baseURI= Base URI for PM API Calls
programmanagement.basePath= Base Path for PM API Calls 
auth0.clientId= AUTH0 Client ID for PM API Calls
auth0.secret=AUTH0 Secret for PM API Calls
auth0.audience=AUTH0 Audience for PM API Calls
auth0.url=AUTH0 URL for PM API Calls
auth0.grantType=AUTH0 Grant Type for PM API Calls
contentType = Content Type for PM API Calls