Browser = UR_BROWSER
OS = UR_OS
BaseUrl = UR_BaseUrl
SuperUserEmail = UR_SuperUserEmail
EmailUserName = UR_GMAIL_ID
EmailUserPwd = UR_GMAIL_PWD
wantToSendReportViaAutoEmail = UR_BOOLEAN_VALUE
ProvisioningUsersUrl = provisioningURL
MongoDB = DBName
DBUserName = UserName
DBPassword = Password
MySQLServerName = My_SQL_Server_URL
MySQLDBUserName = My_SQL_UserName
MySQLPassword = My_SQL_Password